extends layout

block content
  h2 Edit User
  form(method='POST' action='/users/update/#{user.id}')
    label First Name :
    input(type="text" class="form-control" value="#{user.fname}" name="fname")
    label Last  Name:
    input(type="text" class="form-control" value="#{user.lname}" name="lname")
    label Address:
    input(type="text" class="form-control" value="#{user.address}" name="address")
    button.btn.btn-success(type='submit') Update User
